In [15]:
import pandas as pd
from sklearn.cluster import KMeans

In [2]:
# df = pd.read_csv('../Google Drive/privy_data/mrislistings.csv')

In [3]:
df_0 = pd.read_csv('../Google Drive/privy_data/property_listings_dc.csv')
zones = pd.read_csv('../Google Drive/privy_data/dc_prop_zones.csv')

/Users/michaellewis/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (9,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
print df_0.shape
print zones.shape

(664487, 72)
(275930, 2)

In [6]:
zones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275930 entries, 0 to 275929
Data columns (total 2 columns):
property_id    275930 non-null int64
zone_id        275930 non-null int64
dtypes: int64(2)
memory usage: 4.2 MB

In [8]:
df = df_0.merge(zones, how='inner', on='property_id')

In [9]:
df.shape

(326953, 73)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 326953 entries, 0 to 326952
Data columns (total 73 columns):
id                              326953 non-null int64
property_id                     326953 non-null float64
listing_number                  326953 non-null object
status_changed_on               326953 non-null object
created_at                      326953 non-null object
updated_at                      326953 non-null object
status                          326953 non-null object
listed_on                       326953 non-null object
contracted_on                   250479 non-null object
off_market_on                   7 non-null object
sold_on                         252716 non-null object
list_price                      326953 non-null int64
sold_price                      237814 non-null float64
original_list_price             326947 non-null float64
previous_price                  0 non-null float64
seller_concessions              326953 non-null int64
above_grade_square_feet         323694 non-null float64
total_square_feet               317869 non-null float64
finished_square_feet            324117 non-null float64
derived_basement_square_feet    326953 non-null int64
car_storage                     256827 non-null object
car_spaces                      159695 non-null float64
garages                         326953 non-null int64
beds                            326953 non-null int64
baths                           326953 non-null int64
area                            8616 non-null float64
subdivision                     326302 non-null object
street                          325996 non-null object
city                            326953 non-null object
state                           325996 non-null object
zip                             325996 non-null float64
property_key                    326953 non-null object
externally_last_updated_at      326953 non-null object
photos                          326953 non-null int64
structural_style                326953 non-null int64
property_type                   326953 non-null int64
architecture                    0 non-null float64
year_built                      326953 non-null int64
lot_size_square_feet            303907 non-null float64
lot_size_acres                  0 non-null float64
basement_finished_status        901 non-null float64
basement_finished_pct           86659 non-null float64
basement_square_feet            323295 non-null float64
basement_size                   326953 non-null int64
basement_type                   268033 non-null object
seller_type                     27600 non-null float64
public_remarks                  326923 non-null object
description                     18056 non-null object
lat                             326953 non-null float64
lng                             326953 non-null float64
zoned                           233839 non-null object
showings_phone                  0 non-null float64
approval_condition              0 non-null float64
listing_agent                   326953 non-null object
listing_brokerage               326952 non-null object
listing_agent_mls_id            0 non-null float64
listing_agent_email             0 non-null float64
listing_agent_phone             0 non-null float64
selling_agent_mls_id            97275 non-null float64
selling_agent_email             0 non-null float64
selling_agent_phone             97241 non-null float64
selling_agent_name              0 non-null float64
selling_brokerage_name          161111 non-null object
structural_type                 313321 non-null float64
is_attached                     326953 non-null int64
stories                         0 non-null float64
version                         0 non-null float64
parcel_number                   0 non-null float64
hoa_name                        0 non-null float64
hoa_fee                         0 non-null float64
school_district                 0 non-null float64
private_remarks                 0 non-null float64
zone_id                         326953 non-null int64
dtypes: float64(36), int64(14), object(23)
memory usage: 184.6+ MB

In [11]:
df.head()

,id,property_id,listing_number,status_changed_on,created_at,updated_at,status,listed_on,contracted_on,off_market_on,...,structural_type,is_attached,stories,version,parcel_number,hoa_name,hoa_fee,school_district,private_remarks,zone_id
0,10,10.0,FX7733113,2012-03-13,2013-03-22 03:26:30,2014-02-04 18:38:30,inactive,2011-11-28,2012-02-01,NaN,...,1.000000e+10,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2884
1,350822,10.0,FX8381803,2014-08-15,2014-06-19 14:01:31,2014-08-16 16:00:49,sold,2014-06-19,2014-07-18,NaN,...,1.000000e+10,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2884
2,28,28.0,BA9001575,2012-03-13,2013-03-22 03:26:31,2014-02-04 07:21:33,inactive,2011-10-05,2012-02-23,NaN,...,1.000000e+10,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,758
3,65760,28.0,BA7923594,2012-09-10,2013-03-22 04:13:14,2013-08-30 01:00:38,inactive,2012-09-10,NaN,NaN,...,1.000000e+10,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,758
4,398365,28.0,BA8460477,2014-12-01,2014-09-19 03:00:59,2016-03-27 16:53:31,under-contract,2014-09-18,2014-12-01,NaN,...,1.000000e+10,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,758

In [12]:
df.dropna(axis=1, how='all', inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 326953 entries, 0 to 326952
Data columns (total 56 columns):
id                              326953 non-null int64
property_id                     326953 non-null float64
listing_number                  326953 non-null object
status_changed_on               326953 non-null object
created_at                      326953 non-null object
updated_at                      326953 non-null object
status                          326953 non-null object
listed_on                       326953 non-null object
contracted_on                   250479 non-null object
off_market_on                   7 non-null object
sold_on                         252716 non-null object
list_price                      326953 non-null int64
sold_price                      237814 non-null float64
original_list_price             326947 non-null float64
seller_concessions              326953 non-null int64
above_grade_square_feet         323694 non-null float64
total_square_feet               317869 non-null float64
finished_square_feet            324117 non-null float64
derived_basement_square_feet    326953 non-null int64
car_storage                     256827 non-null object
car_spaces                      159695 non-null float64
garages                         326953 non-null int64
beds                            326953 non-null int64
baths                           326953 non-null int64
area                            8616 non-null float64
subdivision                     326302 non-null object
street                          325996 non-null object
city                            326953 non-null object
state                           325996 non-null object
zip                             325996 non-null float64
property_key                    326953 non-null object
externally_last_updated_at      326953 non-null object
photos                          326953 non-null int64
structural_style                326953 non-null int64
property_type                   326953 non-null int64
year_built                      326953 non-null int64
lot_size_square_feet            303907 non-null float64
basement_finished_status        901 non-null float64
basement_finished_pct           86659 non-null float64
basement_square_feet            323295 non-null float64
basement_size                   326953 non-null int64
basement_type                   268033 non-null object
seller_type                     27600 non-null float64
public_remarks                  326923 non-null object
description                     18056 non-null object
lat                             326953 non-null float64
lng                             326953 non-null float64
zoned                           233839 non-null object
listing_agent                   326953 non-null object
listing_brokerage               326952 non-null object
selling_agent_mls_id            97275 non-null float64
selling_agent_phone             97241 non-null float64
selling_brokerage_name          161111 non-null object
structural_type                 313321 non-null float64
is_attached                     326953 non-null int64
zone_id                         326953 non-null int64
dtypes: float64(19), int64(14), object(23)
memory usage: 142.2+ MB

In [14]:
df.head()

X = df[['status_change_on']]

,id,property_id,listing_number,status_changed_on,created_at,updated_at,status,listed_on,contracted_on,off_market_on,...,lng,zoned,listing_agent,listing_brokerage,selling_agent_mls_id,selling_agent_phone,selling_brokerage_name,structural_type,is_attached,zone_id
0,10,10.0,FX7733113,2012-03-13,2013-03-22 03:26:30,2014-02-04 18:38:30,inactive,2011-11-28,2012-02-01,NaN,...,-77.30511,131,Pat Gallagher,"Long & Foster Real Estate, Inc.",NaN,NaN,NaN,1.000000e+10,0,2884
1,350822,10.0,FX8381803,2014-08-15,2014-06-19 14:01:31,2014-08-16 16:00:49,sold,2014-06-19,2014-07-18,NaN,...,-77.30511,131,Bradley Wisley,"Long & Foster Real Estate, Inc.",NaN,NaN,NaN,1.000000e+10,0,2884
2,28,28.0,BA9001575,2012-03-13,2013-03-22 03:26:31,2014-02-04 07:21:33,inactive,2011-10-05,2012-02-23,NaN,...,-76.68706,0R050,Rick Goldenberg,"Castle Homes, Inc.",NaN,NaN,NaN,1.000000e+10,0,758
3,65760,28.0,BA7923594,2012-09-10,2013-03-22 04:13:14,2013-08-30 01:00:38,inactive,2012-09-10,NaN,NaN,...,-76.68706,5,Nancy Sewell,Cummings & Co. Realtors,NaN,NaN,NaN,1.000000e+10,0,758
4,398365,28.0,BA8460477,2014-12-01,2014-09-19 03:00:59,2016-03-27 16:53:31,under-contract,2014-09-18,2014-12-01,NaN,...,-76.68706,5,Nancy Sewell,Exit Bennett Realty,81219.0,3.014595e+09,Exit Bennett Realty (EXBR1),1.000000e+10,0,758

In [ ]:
kmeans_model = KMeans(n_clusters=3, random_state=1).fit(X)
labels = kmeans_model.labels_
metrics.silhouette_score(X, labels, metric='euclidean')